.trendingCard {
  width:258px;
  min-width: 258px;
  height:359px;
  min-height: 359px;
  background-size: cover;
  border-radius: 30px;
  margin-left: 24px;
  margin-right: 24px;
  border: solid 1px black;
  &:hover{
    border: solid 1px #EB3D25;
  }
  .imdb {
    background-color: rgba(218, 218, 218, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    width:77px;
    height:45px;
    margin-left: 166px;
    transform: translate(0, 21px);
    text-align: center;
  }
  .trendingCardTitle {
    background-color: rgba(218, 218, 218, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    width:226px;
    height:81.2px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.02em;
    margin-left: 16px;
    margin-top:210px;
  }
}